.heading-with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .table-dashboard-container table tr:hover td {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }

  .add-entry-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #4CAF50; /* Green background */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .add-entry-button:hover {
    background-color: #45a049; /* Slightly darker green */
    transform: scale(1.05); /* Button grow effect on hover */
  }