.event-categories-dashboard {
  display: flex;
  flex-direction: column;
}

.horizontal-menu {
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
  padding: 10px;
}

.horizontal-menu button {
  padding: 8px 16px; /* Adjusted padding for a sleeker look */
  margin-right: 8px; /* Reduced margin for tighter spacing */
  border: 1px solid #ccc; /* Added border for a subtle outline */
  border-radius: 4px;
  background-color: #ffffff; /* Neutral background color */
  color: #333; /* Darker text for better contrast */
  font-size: 14px; /* Adjusted font size for consistency */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.horizontal-menu button:hover {
  background-color: #e0e0e0;
}

.horizontal-menu button.active {
    background-color: #007bff;
    color: white;
  }

.content-area {
  padding: 20px;
}

.heading-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-entry-button {
  display: block; /* Makes the button behave like a block element */
  margin: 20px auto; /* Centers the button horizontally and adds vertical spacing */
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
}

.add-entry-button:hover {
  background-color: #388e3c; /* Darker green on hover */
}